.navbar{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 30;
    font-family: 'Josefin Sans';
    --bs-navbar-padding-y: 0;
    
    
      
}
.container-1{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.my-name{
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.my-name:hover{
  color: black;
}
.nav-items{
  display: flex;
  align-items: center;
  margin-right: 2.75rem;
}
.nav-items:last-child{
  margin-right: 0;
}
.himenu-button{
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
  border: none;
  
}
.rxcross-button{
  /* text-3xl hidden md:block relative right-0 top-4 container mx-auto */
  font-size: 2rem;
  display: none;
  position: relative;
  right: 45%;
  top: 1rem;
  border: none;
  margin: 0 auto;
}
.nav-ul-items{
  display: flex;
  align-items: center;
  margin-right: 2.75rem;
}
.nav-ul-items:last-child{
  margin-right: 0;
}

.nav-anchors{
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;

}

.nav-anchors:hover{
  transition: 0.28s ease-in-out;
  color:rgb(234 179 8 / 1);
  font-weight: 600;
}

.hire-me{
  background-color: black;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border-radius: 0.375rem;
  text-decoration: none;

}
.list-items{
  margin: 1.5rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.hire-me:hover{
  transition: 0.28s ease-in-out;
  color:rgb(234 179 8 / 1);
  font-weight: 600;
}


@media (max-width: 640px) {
  .navbar {
    padding-top: 1rem; 
    padding-bottom: 1rem; 
  }  
}
@media (max-width: 994px) {
  .navbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
    .himenu-button{
      background-color: transparent;
      display: block;
    }
    
    .hire-me{
      margin: 1.67rem;
      margin-left: auto;
      margin-right: auto;
    }
    
    .rxcross-button{
      background-color: transparent;
      display: block;
    }
    .nav-ul-items{
      flex-flow: column;
      position: absolute;
      top: 0;
      width: 78%;
      transition: 0.28s ease-in-out;
      height: 100vwh;
      background-color: white;
    } 
  }
